/* variables.css */

/* Hexadecimal format */
:root {
    --black: #000000ff;
    --pale-purple: #F2E5F5ff;
    --hot-pink: #EE6FB3ff;
    --air-force-blue: #5C96B7ff;
    --alice-blue: #EDF4FBff;
    --oxford-blue: #1D283Aff;
    
}

/* RGB format */
:root {
    --black: rgba(0, 0, 0, 1);
    --pale-purple: rgba(242, 229, 245, 1);
    --hot-pink: rgba(238, 111, 179, 1);
    --air-force-blue: rgba(92, 150, 183, 1);
    --alice-blue: rgba(237, 244, 251, 1);
    --oxford-blue: rgba(29, 40, 58, 1);
}

/* HSL format */
:root {
    --black: hsla(0, 0%, 0%, 1);
    --pale-purple: hsla(289, 44%, 93%, 1);
    --hot-pink: hsla(328, 79%, 68%, 1);
    --air-force-blue: hsla(202, 39%, 54%, 1);
    --alice-blue: hsla(210, 64%, 96%, 1);
    --oxford-blue: hsla(217, 33%, 17%, 1);
}
