/* styles.css */
@import url('/static/js/css/variables.css');

.title-container {
    text-align: center;
    margin-top: none;
    background-color:#1D283Aff;
    
}

.title {
    font-size: 4rem;
    font-weight: bold;
    color: #5C96B7ff; /* Adjust color as needed */
    margin-bottom: 10px;
    /* Add animation or transition effects */
    animation: fadeInDown 1s ease-out;
    font-family: 'Montserrat', sans-serif; 
}

.tagline {
    font-size: 2rem;
    /* Apply gradient to the background and set text to transparent */
    background: linear-gradient(45deg, rgba(242, 229, 245, 1), rgba(238, 111, 179, 1), rgba(92, 150, 183, 1));
    -webkit-background-clip: text; /* For Safari/Chrome */
    -moz-background-clip: text; /* For Firefox */
    -ms-background-clip: text; /* For older versions of IE */
    background-clip: text; /* Standard property */
    -webkit-text-fill-color: transparent; /* For Safari/Chrome */
    /* Add animation or transition effects */
    animation: fadeInUp 1s ease-out;
    font-family: 'Montserrat', sans-serif; /* Apply Montserrat font */
}



/* Keyframes for animation */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.saved-notes-container {
    display: flex;
    flex-direction: row; /* Change to row */
    gap: 20px;
    max-width: 100%; /* Adjust as needed */
    margin: 0 auto;
}


.saved-note {
    background-color: var(--pale-purple);
    padding: 20px;
    border-radius: 10px;
}

.note-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 10px;
    border: none;
    outline: none;
    width: 100%;
}

.note-content textarea {
    width: 100%;
    min-height: 100px;
    border: 1px solid var(--air-force-blue);
    border-radius: 5px;
    padding: 10px;
}

.note-date {
    color: var(--oxford-blue);
    font-size: 0.8rem;
}

.deleteNote {
    background-color: var(--hot-pink);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
}